<div class="container__cards">
  <div class="cards__content">
    <img src="https://th.bing.com/th?q=Imagem+Placeholder&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=pt-BR&cc=BR&setlang=pt-br&adlt=strict&t=1&mw=247" alt="">
    <h1>teste</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, quia sint perspiciatis unde temporibus, est itaque ut illo suscipit eum soluta reiciendis quod! Assumenda laborum corrupti, dolor dolorem debitis consequuntur.</p>
  </div>
  <div class="cards__separator">
    <hr>
  </div>
</div>
