<app-blog-title blogTitle="BLOG DO GABRIEL"></app-blog-title>

<div class="container__site-content">
  <div class="site-content__top">
    <app-about-me-card
    photoCover="https://th.bing.com/th?q=Profile+Picture+Icon+Placeholder&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=pt-BR&cc=BR&setlang=pt-br&adlt=strict&t=1&mw=247"
    aboutInfo="Olá, Meu nome é Gabriel Galacci Maldonado, tenho 32 anos.
    Bem-vindos ao meu Blog.
    Aqui vocês conhecerão um pouco mais de mim, meus gostos e o que me moldou a ser quem eu sou.
    Selecione abaixo o que você deseja conhecer sobre mim."
    ></app-about-me-card>
  </div>
  <div class="site-content__bottom">
    <div class="site-content__left"></div>
    <div class="site-content__center"></div>
    <div class="site-content__right"></div>
  </div>
</div>
