<app-blog-title blogTitle="SOBRE MIM"></app-blog-title>
<app-about-me-card
photoCover="https://th.bing.com/th?q=Profile+Picture+Icon+Placeholder&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=pt-BR&cc=BR&setlang=pt-br&adlt=strict&t=1&mw=247"
aboutInfo="Lorem ipsum dolor sit amet consectetur adipisicing elit.
Totam fugit aut explicabo illo repellendus placeat consectetur exercitationem molestiae, unde eaque, sint dicta magnam sed voluptatibus atque voluptatem cupiditate ipsa distinctio?"
></app-about-me-card>
